<launch>
    <arg name="K_p" default="0.04"/>
    <arg name="K_i" default="0.0"/>
    <arg name="K_d" default="0.06"/>
    <arg name="x_d" default="0.4"/>
    <arg name="K_phi_p" default="0.05"/>
    <arg name="K_phi_i" default="0.0"/>
    <arg name="K_phi_d" default="0.8"/>
    
    <node name="master" pkg="master" type="test_export" >
        <param name="K_p" value="$(arg K_p)"/>
        <param name="K_i" value="$(arg K_i)"/>
        <param name="K_d" value="$(arg K_d)"/>
        <param name="x_d" value="$(arg x_d)"/>
        <param name="K_phi_p" value="$(arg K_phi_p)"/>
        <param name="K_phi_i" value="$(arg K_phi_i)"/>
        <param name="K_phi_d" value="$(arg K_phi_d)"/>

    </node>
    
</launch>
